<nav>
    <% if(user) { %>
        <a href="/users/<%= user._id %>">Profile</a>
        <a href="/coffeeShops">View Coffee Shops</a>
        <a href="/users">View Users</a>
        <a href="/coffeeShops/new">Add a Coffee Shop</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/coffeeShops">View Coffee Shops</a>
        <a href="/users">View Users</a>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>