<nav class="moka-navbar">
    <div class="moka-navbar-container">
      <div class="logo-container">
        <a href="/home">
            <img src="/css/assets/mMLogo.png" alt="Moka Meet Logo" class="moka-logo">
        </a>
      </div>
  
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/coffeeShops">Coffee Shops</a></li>
        <li><a href="/users">Users</a></li>
  
        <% if (user) { %>
          <li><a href="/profile">My Profile</a></li>
          <li><a href="/messages">Messages</a></li>
          <li><a href="/coffeeShops/new">Add Shop</a></li>
          <li><a href="/auth/sign-out">Sign Out</a></li>
        <% } else { %>
          <li><a href="/auth/sign-in">Sign In</a></li>
          <li><a href="/auth/sign-up">Sign Up</a></li>
        <% } %>
      </ul>
    </div>
  </nav>