<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>All Users</title>
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop playsinline class="background-video">
          <source src="/css/assets/mokaMeetBackground.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    <%- include('../partials/_navbar.ejs') %>

    <h1>All Users</h1>
    <div class="user-grid">
        <% users.forEach(profileUser => { %>
          <%- include('../partials/_userCard', { profileUser, user }) %>
        <% }) %>
      </div>
      
</body>
</html>
