<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Coffee Shops</title>
</head>

<body>
    <div class="video-background">
        <video autoplay muted loop playsinline class="background-video">
          <source src="/css/assets/mokaMeetBackground.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    <div class="video-background">
        <video autoplay muted loop playsinline class="background-video">
          <source src="/css/assets/mokaMeetBackground.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>

    <%- include('../partials/_navbar.ejs') %>

        <h1>Discover Amazing Coffee Shops</h1>

        <% if (user) { %>
            <a href="/coffeeShops/new">
                <button class="learn-more">Add a Coffee Shop</button>
            </a>
            <% } %>

                <% if (coffeeShops.length> 0) { %>
                    <div class="card-grid">
                        <% coffeeShops.forEach(shop=> { %>
                            <%- include('../partials/_coffeeCard', { shop, user }) %>
                            <% }) %>
                    
                        <div>
                            <% } else { %>
                                <p>No coffee shops found. Be the first to add one!</p>
                            <% } %>
</body>

</html>